:root {
  --color-primary: #bad4aa;
  --color-primary-dark: #a7c892;
  --color-secondary: #292915;
  --color-secondary-dark: #1b1b0e;
  --color-accent: #e08c31;
  --color-accent-dark: #c57219;
  --color-Text: #292915;
  --border-radius: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  color: var(--color-Text);
}

/* buttons */
.btn {
  padding: 2rem 3rem;
  border-radius: var(--border-radius);
  border-width: 0;
  outline: 0;
  font-weight: 600;
  margin: 1rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn:disabled {
  opacity: 0.5;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-Text);
}

.btn--primary:hover {
  background-color: var(--color-primary-dark);
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn--secondary:hover {
  background-color: var(--color-secondary-dark);
}

.btn--accent {
  background-color: var(--color-accent);
  color: white;
}

.btn--accent:hover {
  background-color: var(--color-accent-dark);
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

/* Tool Bar */
.tool-bar {
  height: 10vh;
  display: flex;
  background: var(--color-secondary);
  justify-content: space-between;
  padding: 2vw;
  align-items: center;
}

.speed-container {
  padding: 1vh 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  border-radius: var(--border-radius);
  outline: 0;
}

.speed-label {
  color: var(--color-Text);
  font-weight: 600;
}

.slider-speed {
  background-color: var(--color-Text);
  color: var(--color-Text);
}

.algorithm-select {
  background-color: var(--color-primary);
  color: var(--color-Text);
  border-radius: var(--border-radius);
  padding: 1vh 2vw;
  border-width: 0;
  outline: none;
}

.algorithm-item {
  border-radius: var(--border-radius);
}

/* visualizer */
#visualizer-container {
  margin: 1vh 2rem;
  height: 90vh;
  display: flex;
  align-items: flex-end;
}

.element-bar {
  margin: 0 0.1vw;
  display: inline-block;
  border-radius: 3px 3px 0 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-accent);
}
